*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
    width: 970px;
    height: auto;
    padding: 15px;
    background-color: #1c345e;
}
#header{
    width: 940px;
    height: auto;
    background-color: #ce3036;
    border-radius: 15px;
    padding: 15px;
    color: #c2d6ec;
}
#navigation{
    width: auto;
    height: auto;
    background-color: #2a7d8c;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    list-style-position: inside;
    padding: 15px;
}
a{
    color: #5ecdcf;
}
#navigation ul{
    color:white;
}
#navigation ul ul {
    margin-left: 15px;
}
#main{
    width: 700px;
    height: auto;
    background-color: #0e1822;
    display: inline-block;
    margin: 20px 0px 0px 0px;
    border-radius: 20px;
    color: #c2d6ec;
    list-style-position: inside;
    padding: 15px;
}
.list_points{
    color: #5ecdcf;
}
.important{
    color: #5660d3;
}
#footer{
    width: 940px;
    height: auto;
    background-color: #5e6673;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;
    color: #c2d6ec;
}